/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */
body {
    font-family: sans-serif;
}

/* Header */
header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header-left {
    display: flex;
}

.img-container {
    display: flex;
}

.img-container img {
    width: 50px;
} 

h1 {
    padding: 5px 0;
}

#user-level {
    font-size: 20px;
}
/* END Header */

/* Main */
main {
    background-color: #7fffd4;
    padding: 50px;
}

#main-grid {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    margin: 0 auto;

}

#main-grid.easy .square {
    width: calc(100% / 10);
    height: calc(100% / 10);
}

#main-grid.hard .square {
    width: calc(100% / 9);
    height: calc(100% / 9);
}

#main-grid.crazy .square {
    width: calc(100% / 7);
    height: calc(100% / 7);
}

.square {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square.red {
    background-color: #dc143d;
    color: white;
}

.square.blue {
    background-color: #6495ed;
    color: white;
}

#user-message {
    padding-left: 50px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}
/* END Main */
